body{
    background-color: rgba(150, 150, 150, 100);
    width: max-content;
    margin: auto;
    border: 3px solid grey;
    padding: 10px;
}
div{
    background-color: darkgray;
}
textarea{
    display:inline-block; 
    margin-right: 30px;
 }
 